body {
    background: #3C6255;
}

h1 {
    font-family: forma-djr-display, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.center p {
    margin       : 0;
    position     : absolute;
    text-align   : center;
    top          : 35%;
    left         : 50%;
    -ms-transform: translate(-35%, -50%);
    transform    : translate(-35%, -50%);
}